body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; 
}


.main-header {
    font-size: 48px;
    color: #ff69b4; 
    text-align: center;
    margin: 50px 0;
    position: relative;
}

.main-header::before,
.main-header::after {
    content: "\2605"; 
    color: #ff69b4; 
    font-size: 36px;
    position: absolute;
    opacity: 0.7; 
}

.main-header::before {
    left: -30px;
}

.main-header::after {
    right: -30px;
}


.intro-paragraph {
    font-size: 20px;
    color: #444; 
    margin: 20px 0;
    text-align: center;
}

.intro-paragraph::before,
.intro-paragraph::after {
    content: '"';
    font-size: 36px;
    color: #ff69b4; 
    position: absolute;
    opacity: 0.7; 
}

.intro-paragraph::before {
    top: -15px;
    left: -15px;
}

.intro-paragraph::after {
    bottom: -15px;
    right: -15px;
}


.cta-button {
    display: inline-block;
    padding: 18px 36px;
    font-size: 24px;
    color: #fff;
    background-color: #ff69b4; 
    border: 2px solid #ff69b4; 
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


.cta-button:hover {
    background-color: #ff4785; 
    color: #fff; 
    border-color: #ff4785;
}
